// paleta de colores

$primary-color:#7882A4 ;
$secondary-color:#C0A080;
$tertiary-color:#D1D1D1 ;
$quaternary-color:#f7d9d9 ;


$pirucha-con-fondo:"https://drive.google.com/uc?export=view&id=18rROXB3Kkn4cZFTrvmSD6c7WHu2fp3gE";
$pirucha-sin-fondo:"https://drive.google.com/uc?export=view&id=15byTWmSHBjUzWjmdNli8KK11l3Whi0up";
$pergolas:"https://drive.google.com/uc?export=view&id=1lwAtjWEZO_XTnsdIqWYxcEfUVQd5iGSU";
$pergolas-original:"https://drive.google.com/uc?export=view&id=1vi3SP13IpSSh55dguS3oidvMseTIzRUH";
$michi:"https://drive.google.com/uc?export=view&id=1tasy11XIwotoqx-UnafBYt5kSBDGRKno";
$mariana:"https://drive.google.com/uc?export=view&id=1spEjd0bmfhQ4ZlaRv7M7agJsjpYMNAvD";