@import "../common/vars.scss";

.detail-row{
  
  display: flex;
  flex-direction: row;
  margin: 16px;
  gap: 10px;
  justify-content: center;

  .detail-img{
    width: 400px;
  }

  .detail-data{
    display: block;
    text-align: center;
    
    h2{
      margin-bottom: 20px;
    }
  }
}