@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import "../common/vars.scss";

* {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;

 
}

body {
  background-image: url("https://mcdn.wallpapersafari.com/medium/88/78/c2feMw.jpg");
}

h2 {
  text-align: center;
}

button{
  border-radius: 5px;
  display: block;
  padding: 16px;
  background: $quaternary-color;
}

a {
  font-family: "PT Sans";
  text-decoration: none;
  color: black;
}
.spinner {
  position: absolute;
  margin: 0 auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: $secondary-color;

  animation: spin 1s ease infinite;
}
.Return{
  padding: 16px;
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


